<div id="jquery">
  <ul>
    <li>Item - 1</li>
    <li>Item - 2</li>
    <li>Item - 3</li>
  </ul>
  <div id="counter">
    Count clicks: 0
  </div>
  <div>
    <button class="reset">Reset</button>
  </div>
</div>